:root {
    --boardBgc: #f4decb;
    --squareBgc: #49274a;
    --bgc: #49274a;
    --font: #f4decb;
    --grape: #94618e;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: var(--bgc);
    color: var(--font);
    font-family: 'Heebo', sans-serif;
}

header {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 60px;
}

.content {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.play-area {
    display: flex;
    gap: 5vw;
}

.message {
    margin-bottom: -30px;
    font-size: 30px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: min(50vh, 600px);
    height: min(50vh, 600px);
    background-color: var(--boardBgc);
    gap: 10px;
}

.square {
    background-color: var(--squareBgc);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10vh;
    font-weight: 500;
}

.gamemode, .score {
    width: min(15vw, 400px);
    font-size: 20px;
    text-align: center;
    font-weight: 700;
}

form#select {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

select {
    appearance: none;
    outline: none;
    border: none;
    background-color: var(--font);
    border-radius: 25px;
    padding: 5px 10px;
    font-size: 16px;
    color: var(--bgc);
    cursor: pointer;
    transition: all 0.3s;
    text-align: center;
}

select:hover {
    transform: scale(1.1);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    width: 30%;
    display: flex;
    justify-content: center;
    background-color: var(--grape);
    border-radius: 25px;
    padding: 20px;
}

.modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.modal form input {
    margin-bottom: 30px;
    margin-top: 7px;
    outline: none;
    border-radius: 25px;
    border: none;
    padding-left: 10px;
    background-color: var(--font);
    font-size: 16px;
    color: var(--bgc);
}

button#submit {
    border-style: none;
    border-radius: 12px;
    padding: 6px 12px;
    background-color: var(--grape);
    font-family: 'Heebo', sans-serif;
    color: var(--bgc);
    font-size: 20px;
    transition: all 0.2s;
}

button#submit:hover {
    background-color: var(--bgc);
    color: var(--font);
}

button#close {
    position: absolute;
    right: 20px;
    top: 10px;
    border-style: none;
    border-radius: 50%;
    padding: 0 7px;
    background-color: var(--grape);
    font-family: 'Heebo', sans-serif;
    color: var(--bgc);
    font-size: 20px;
    transition: all 0.2s;
}

button#close:hover {
    background-color: var(--bgc);
    color: var(--font);
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-board {
    display: flex;
    gap: 20px;
}

.left, .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

button.restart {
    background-color: var(--bgc);
    border-style: none;
}

button i {
    color: var(--font);
    transition: all 0.3s;
}

button i:hover {
    transform: scale(1.1);
    color: #c28cbc;
}

footer a {
    color: var(--font);
}